<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>linkcart</title>
	<link rel="stylesheet" href="../dist/main.css">
</head>

<body>

	<header>
		<section class="d-flex">
			<button type="button" id="add-link" class="button1">ADD LINK</button>
			<button type="button" id="copy-links" class="button1">COPY LINKS</button>
			<button type="button" id="clear-link" class="button1">CLEAR ALL LINKS</button>
		</section>
		<section class="d-flex">
			<a href="#" id="csv-dump" download="file.csv" class="d-none"></a>
			<button type="button" id="export-to-csv" class="button1">EXPORT TO CSV</button>
			<button type="button" id="add-to-bookmark" class="button1">BOOKMARK LINKS</button>
		</section>
	</header>

	<br />

	<main>
		
	</main>

	<script src="../dist/bundle.js"></script>
</body>

</html>