<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>linkcart</title>
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>

	<header class="d-flex">
		<button type="button" id="addlink" class="button1">ADD LINK</button>
		<button type="button" id="copylinks" class="button1">COPY LINKS</button>
		<button type="button" id="clearlink" class="button1">CLEAR ALL LINKS</button>
	</header>

	<br />

	<main>
		
	</main>

	<script src="../js/main.js"></script>
</body>

</html>